<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<link rel="stylesheet" href="css/main.css" th:href="@{../css/main.css}" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Webshop &#45; admin pages &#45; Update order</title>
</head>
<body>

	<div th:replace="fragments/menu.html :: main-menu">Main menu goes here</div>

	<header>
	<h1>Order updated</h1>
	</header>
	
	<p>Order &#35;<mark><span th:text="${model}">x</span></mark> has been marked as <strong>DISPATCHED</strong></p>
	
	
	<hr/>
	<footer>
	<p>Back to <a href="../admin">Admin page</a></p>
	</footer>
	

</body>
</html>