body {
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px
}

h1, h2, h3 {
	line-height: 1.2
}

h2 {
	text-transform: uppercase;
}

li {
	padding: 1em;
}

footer {
	text-align: center;
}

header {
	padding-bottom: 1em;
}
hr {
	margin-bottom: 1em;
}

.product {
	font-weight: bold;
	font-size: 1.5em;
	text-transform: capitalize;
}

.submit-order {
	position: fixed;
	text-align: center;
	left: 0;
	bottom: 5em;
	padding: 1em;
	width: 100%;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: auto;
	border: 1px solid black;
}

li.menu {
	display: block;
	margin: 0;
	padding: 0.2em;
}

li.menu:hover {
	background-color: #a9a9a9;
}


a:link    {
   color: #2200CC;
   text-decoration: none; 
} 
a:visited {
	color: #d2d2d2;
}
a:hover   {
  text-decoration: underline;
}
a:active  {
	color: #FF0000;
}