<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<link rel="stylesheet" href="css/main.css" th:href="@{../css/main.css}" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Webshop &#45; admin pages</title>
</head>
<body>
	<header>
	<h1>Web shop</h1>
	</header>
	
	<h2>Admin pages</h2>
	
	<h3>Orders</h3>
	
	<h2>Undispatched orders</h2>
	
	<ol>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ol>
	
	
	
	<h2>Dispatched orders</h2>
	
	<ol>
	<li th:each="order : ${model}">
		<span th:text="${order}">order 1</span>
		<span><a th:href="@{/admin/order(id=${order.id})}" href="order.html?id=orderId">Details</a></span>	
	</li>
	
	</ol>


</body>
	</html>