<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<link rel="stylesheet" href="css/main.css" th:href="@{../css/main.css}" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Webshop &#45; Dispatched Orders</title>
</head>
<body th:with="dispatched=${model.dispatched}">

	<header>
	<h1>Web shop &#45; Admin pages</h1>
	<hr/>
	</header>
	
	<div th:replace="fragments/menu.html :: main-menu">Main menu goes here</div>
	
	<h2>Dispatched Orders</h2>
	
	<ol>
		<li th:each="order : ${dispatched}">
			<span th:text="${order}">dispatched order 1</span>
			<span><a th:href="@{/admin/order(id=${order.id})}" href="order.html?id=orderId">Details</a></span>	
		</li>
	</ol>

</body>
</html>