<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<link rel="stylesheet" href="css/main.css" th:href="@{../css/main.css}" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Webshop &#45; Shopping Cart &#45; Contents</title>
</head>
<body>
	<header>
	<h1>Shopping Cart contents</h1>
	</header>
	
	<p>This is the cart...</p>
	
	<div th:if="${model.size() > 0}">
		<ol>
			<li th:each="product : ${model.products}" th:text="${product.name}">product 1</li>
		</ol>
		<p><strong>Total price:</strong> <span th:text="${model.totalPrice}">price here</span>
		</p>
		
	</div>
	
</body>
	</html>