<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<link rel="stylesheet" href="css/main.css" th:href="@{../css/main.css}" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Webshop &#45; Shopping Cart &#45; Contents</title>
</head>
<body>
	<header>
	<h1>Shopping Cart contents</h1>
	</header>
	
	<p>This is the cart...</p>
	
	<div th:if="${model.products.size() > 0}">
		<ol>
			<li th:each="product : ${model.products}">
			<span th:text="${product.key.name} + ' amount = ' + ${product.value}"></span>
				<small><a th:href="@{/shoppingCart/remove(id=${product.key.id})}">Remove from cart</a></small>
				<div>
					<form action="/shoppingCart/update" method="POST">
						<input type="hidden" name="id" id="id" value="666" th:value="${product.key.id}" />
						<label for="amount"><small>Edit amount</small></label>
						<input type="number" name="amount" id="amount" th:value="${product.value}" min="1" max="999" required />
						<input type="submit" value="Submit change" />
					</form>
				</div>	
			</li>
		</ol>
		<p>
			<strong>Total price: </strong><span th:text="${model.totalPrice}">price here</span>
		</p>
	</div>
	
	<hr />
	<div th:if="${model.products.size() > 0}" class="submit-order">
	<h2>Submit order</h2>
		<form action="/shoppingCart/submitOrder" method="POST">
				<input type="submit" value="Submit" />
		</form>
	</div>
	
	
</body>
	</html>