<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Webshop &#45; Create Account</title>
</head>
<body>
	
	<div th:replace="fragments/menu.html :: main-menu">Main menu goes here</div>
	<header>
	<h1>Create a new Account</h1>
	</header>
	
		<form action="/saveUser" th:action="@{/saveUser}" method="POST" th:object="${addUserModel}" >
			<div class="newUserBox">
		
				<div th:if="*{errorMessage} != null">
					<p th:text="*{errorMessage}" class="error">Error message</p>
				</div>

				<div class="fieldSection">
					<div class="fieldTitle">Login name &amp; Password</div>
					
					<input type="text" name="username" id="username" placeholder="username" required th:field="*{username}" />
					<input type="password" name="pass1" id="pass1" placeholder="password" required th:field="*{password}"/>
				</div>
					<label for="year">Year of birth:</label>
					<input type="number" name="birthyear" id="year" placeholder="1995" min="1900" max="2019" required th:field="*{yearOfBirth}" value="1995" />
					<br/>
					<label for="city">City:</label>
					<input type="text" name ="city" id ="city" placeholder="Malmö" list="cities" required th:field="*{city}"/>
				</div>
		
				<input type="submit" value="Save new user" class="button" />
		</form>
		
		<br/>
		<p>Once an account has been successfuly created you will be re-directed to the login page for <strong>manual login</strong></p>

	<datalist id="cities">
		<option value="Belgrade">
		<option value="Dubai">
		<option value="Dublin">
		<option value="Helsingborg">
		<option value="Hong-Kong">
		<option value="Istanbul">
		<option value="Johannesburg">
		<option value="Kiruna">
		<option value="Malmö">
		<option value="Oslo">
		<option value="Riga">
		<option value="Singapore">
		<option value="Stockholm">
		<option value="Tokyo">
		<option value="Örebro">
		
	</datalist>

</body>
</html>