<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<link rel="stylesheet" href="../css/main.css" th:href="@{css/main.css}" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Webshop</title>
</head>
<body>
	<header>
	<h1>Welcome to the web shop!</h1>
	</header>
	
	<div th:replace="fragments/menu.html :: main-menu">Main menu goes here</div>
	
	<h2>Categories</h2>
	<p>Browse by category:</p>

	<ol>	
		<li th:each="category : ${model.categories}">
			<div th:if="${model.containsKey('urlId')}">
				<span>
					<a th:href="@{'/shop/' + ${category.id}}" 
					th:utext="${model.urlId == category.id} ? '<mark>' + ${category.name} + '</mark>' : ${category.name}">category name</a>
				</span>
			</div>
			<div th:unless="${model.containsKey('urlId')}">
				<a th:href="@{'/shop/' + ${category.id}}" th:text="${category.name}">category name</a>
			</div>
			
		</li>
	</ol>

	<hr/>
	<h2>Product search</h2>
	<form action="/shop" method="GET">
		<label>Search available products: </label><input type="text" name="products" placeholder="Product name" />
		<input type="submit" value="Search">
	</form>
	
	<div th:if="${model.products.isEmpty() == false}">
		<h2>Search results</h2>
		
		<ol>
			<li th:each="product : ${model.products}">
			
				<span><a th:href="@{'/product/' + ${product.id}}" th:text="${product.name}" target="_blank">result 1</a></span>
			</li>
		</ol>
	</div>
	
	<br/>
	<hr/>


</body>
</html>