<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<link rel="stylesheet" href="css/main.css" th:href="@{css/main.css}" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Webshop</title>
</head>
<body>
	<header>
	<h1>Welcome to the web shop!</h1>
	</header>
	
	<h2>Categories</h2>
	<p>Available categories:</p>

	<ol>	
		<li th:each="category : ${model.categories}" th:text="${category.name}">category 1</li>
	</ol>

	<hr/>
	<h2>Product search</h2>
	<form action="/shop" method="GET">
		<label>Search available products: </label><input type="text" name="products" placeholder="Product name" /><br/>
		<input type="submit" value="Search">
	</form>
	
	
	<div th:if="${model.products.isEmpty() == false}">
		<h2>Search results</h2>
		
		<ol>
			<li th:each="product : ${model.products}" th:text="${product.name}">result 1</li>
		</ol>
		
	</div>
	
	<br/>
	<hr/>
	
	<h2>Shopping cart</h2>
	
	<p><a href="/shoppingCart" target="_blank">View shopping cart</a></p>


</body>
	</html>