<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<link rel="stylesheet" href="../static/css/main.css" th:href="@{../css/main.css}" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Webshop &#45; Buy Product</title> 
</head>
<body>
	<header>
	<h1>Add to cart</h1>
	</header>
	
	<div th:replace="fragments/menu.html :: main-menu">Main menu goes here</div>
	
	<p th:text="${model.name}" class="product">product name</p>
	<p th:text="${model.price} + ' kr'">price per unit</p>
	

	<form action="/shoppingCart" method="POST" th:action="@{/shoppingCart}">
			<div>
					<input type="hidden" name="id" id="id" value="666" th:value="${model.id}" />
					<label for="amount">Amount</label>
					<input type="number" name="amount" id="amount" placeholder="0" min="0" max="999" required />
				<br/>
				<input type="submit" value="Add to cart" />
			</div>
		</form>

		</body>
</html>