<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
<link rel="stylesheet" href="../static/css/main.css" th:href="@{../css/main.css}" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Webshop &#45; Buy Product</title> 
</head>
<body>
	<header>
	<h1>Add to cart</h1>
	</header>
		<div>
		<p><strong><span th:text="${model.name}">Product name</span></strong></p>
		<p><strong>Price: </strong><span th:text:="${model.price}">price here</span></p>
	</div>

	<form action="/shoppingCart" method="GET">
			<div class="addProductBox">
				<div class="fieldSection">
					<div class="fieldTitle"></div>
					<input type="hidden" name="id" id="id" value="666" th:value="${model.id}" readonly />
					<label for="name">Amount</label>
					<input type="number" name="amount" id="amount" placeholder="1" min="0" max="999" required />
				</div>
				<br/>
				<input type="submit" value="Add to cart" class="button" />
			</div>
		</form>

	<!--  4 saker
		
			1. produkt namn
			2. pris
			3. ange antal
			4. submit (add to cart), update cart or whatever
		
		 -->
		
		</body>
</html>